<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Movies</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All Movies</h1>
    <div class="container">      
        <% movies.forEach(movie => { %>
          <div>
            <a href="/movies/movie/<%= movie.id %>">
              <strong><%= movie.title %></strong>  
            </a>
            <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= movie.title %> poster" style="width:200px;height:auto;" />            
            <p>Release Date: <%= movie.release_date %></p>
            <p>Rating: <%= movie.vote_average %></p>
          </div>
      <% }) %>      
    </div>
    <button onclick="window.location.href='#'>More Movies</button>
  </body>
</html>
